/* style.css */
body{
  background: rgb(245,245,245);
  color: #000000;
  font-size: 25px;
  font-family: 'sofia pro', sans-serif;
  margin: 0;
}

#title {
  font-family: 'sofia pro', sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 60px;
  margin: 4px;
}

#tagline {
  color: #ffffff;
  opacity: 1;
  font-size: 20px;
  font-weight: thin;
  margin-top: 10px;
}


h2 {
  font-family: Sofia pro;
  color: #B166AD;
  font-weight: bold;
  font-size: 30px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: purple;
}

#link {
  transition: all .2s ease-in-out;
}

#link:hover{
  transform: scale(2.0);
}

.banner{
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(150, 150, 150, 0.1), rgba(150, 150, 150, 0.1)),
  url("https://images.unsplash.com/photo-1517848568502-d03fa74e1964?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: none;
}

.banner p {
  color: ##B166AD;
  opacity: 0.99;
  font-size: 20px;
  font-weight: thin;
} 


#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: #ffffff;
}
.cube1{
  padding: 50px;
  font-weight: lighter;
  font-family: sofia pro;
}

.cube2{
  padding: 50px;
  font-weight: lighter;
  background-color: #EFA1EC;

}

.fab{
  font-size: 50px;
  padding: 5px;
}

.fa-twitter{
  color: #0172DF;
}

.fa-twitter:hover{
  color: purple;
}

.header2{
  font-family: 'sofia pro';
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  .banner{
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(150, 150, 150, 0.1), rgba(150, 150, 150, 0.1)),
    url("https://images.unsplash.com/photo-1517848568502-d03fa74e1964?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: contain;
    padding: 50px;
    color: white;
    text-shadow: none;

}
